name: ts-iterable-functions

on: [push]

env:
  NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
  VOLTA_FEATURE_PNPM: 1

jobs:
  ts-iterable-functions:
    runs-on: ubuntu-latest

    concurrency:
      group: ${{ github.ref }}
      cancel-in-progress: true

    steps:
      - uses: actions/checkout@v2
      - uses: volta-cli/action@v1
      - run: pnpm install --frozen-lockfile

      - name: Dependencies audit
        run: pnpm audit --audit-level=moderate

      - name: Build
        run: pnpm run build

      - name: Format check
        run: pnpm run format:check

      - name: Lint check
        run: pnpm run lint:check

      - name: Spell check
        run: pnpm run spell:check

      - name: Test
        run: pnpm run test

      - name: Release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
        run: pnpm run semantic-release

      - name: Build docs
        if: ${{ github.ref == 'refs/heads/master' }}
        run: pnpm run build-docs

      - name: Release docs
        if: ${{ github.ref == 'refs/heads/master' }}
        uses: JamesIves/github-pages-deploy-action@v4
        with:
          folder: docs
          clean: true
